:root {
  --ascent-color: #ff3400;
  --body-color: #918ca4;
  --headings-color: #5a5a5a;
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --body-bg-color: #f7f7f7;
  --color-hover-bg-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  margin: 2rem;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
/* Cards CSS Start Here */

/* // only for displaying multiple cards on same page start here */
.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 4rem;
  justify-content: center;
}
/* // only for displaying multiple cards on same page end */

.card {
  box-shadow: 0 0.5rem 1rem 0 lightgray;
  cursor: pointer;
  font-size: 2rem;
  max-width: 35rem;
  transition: 0.3s;
  color: var(--headings-color);
}

.card-color {
  background-color: white;
}

.card__title {
  color: var(--headings-color);
  padding: 2rem 1.5rem;
}

.card__title h1 {
  padding-bottom: 0.5rem;
}

.card__desc {
  padding: 1rem 1.5rem;
}

.card__footer {
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.card__icon {
  padding: 1rem;
  border-radius: 50%;
}

.card__icon:hover {
  background-color: var(--body-bg-color);
}

.btn {
  background-color: white;
  border: 0;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

.icon-hidden {
  visibility: hidden;
}

.btn-hidden {
  visibility: hidden;
}

.text-over-media-position {
  position: relative;
}

.text-over-media {
  position: absolute;
  top: 12rem;
  color: white;
}

.card__desc-hidden {
  display: none;
}

/* card - horizontal image and text CSS */

.hit-header {
  display: flex;
}

.hit-image {
  width: 12rem;
  height: 12rem;
}

/* Badges CSS Start Here */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--primary-color);
  color: white;
}

.badge--secondary {
  background-color: var(--secondary-color);
  color: white;
}

.badge--small {
  font-size: 1.5rem;
}

/* badges CSS End */

/* Drawer Component CSS start here */

.drawer {
  align-content: flex-start;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 0 lightgray;
  color: var(--headings-color);
  padding: 1rem;
  width: 25.6rem;
}

.drawer__header h3 {
  font-size: 2.5rem;
}

.drawer__header h6 {
  font-size: 1.5rem;
  color: var(--body-color);
}

.drawer__list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.drawer-list-item {
  color: var(--headings-color);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  text-decoration: none;
}

.drawer-list-item:nth-child(1) {
  background-color: #e6d7fd;
  color: #6200ee;
}

.drawer-list-item:hover {
  background-color: var(--color-hover-bg-color);
}
.drawer-icon {
  padding-right: 2.5rem;
}
